<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <title>Edit Pet Data</title>
    </head>
    <body>
      <div class="parent">
        <form (submit)="onSubmit()">
            <!-- use the json pipe to see how newTask changes in real time -->
            Pet name:
            <input type="text" name="name" [(ngModel)]="pet.name"  />
            <br>
            Pet type:
            <input type="text" class="inputchange" name="cuisine" [(ngModel)]="pet.type" />
            <br>
            Description:
            <input type="text" class="inputchange" name="cuisine" [(ngModel)]="pet.desc" />
            <br>
            <!-- Add a cancel button that links back to the home component -->
        
            <input class="editbutton" type="submit" value="Edit" />

        </form>
        <button class= "cancelbutton" [routerLink]="['/']">Cancel</button>
        <p *ngIf="error">{{error}}</p>
      </div>
    </body>
</html>